/* Resets
-----------------------------------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;-webkit-text-size-adjust:none;overflow-y:scroll}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img{vertical-align:top}
ol, ul { list-style: none; }
a img {border: 0;}
img { max-width: 100%; }
.clear { clear: both; font-size: 0; height: 0; zoom: 1; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
a { outline: medium none; text-decoration: none; }
.img { border: 0 none; display: inline-block; vertical-align: top; }
body { direction: ltr; text-align: left; }
::selection { background:pink; color:#555; text-shadow: none; }
::-moz-selection { background:pink; color:#555; text-shadow: none; }
::-webkit-selection { background:pink; color:#555; text-shadow: none; }
.text_right { text-align: right; }

/* Body
-----------------------------------------------------------------------------------------------------------*/
html { font-size: 12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0; padding: 0; }
body { font: 12px/24px Myriad Pro, Helvetica, Sans-serif; margin: 0; color: #fff; }
/*body.bg_body { background: url(../images/bg_body.png) center top no-repeat; background-size: 100% 100%; }*/

/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/
.corner_tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.corner_tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corner_bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.corner_br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corner_top { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.corner_bottom { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.corner_all { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/* Wapper
-----------------------------------------------------------------------------------------------------------*/
.container { width: 981px; margin: 0 auto; }

/* main */
.main { background-color: #eeeee6; padding-top: 20px; padding-bottom: 15px; }
.main_detail { padding-bottom: 0px; }

/* List_game
-----------------------------------------------------------------------------------------------------------*/
.list_game { width: 980px; position: relative; background-color: #5f8458; }
.list_game_top { background: url(../images/list_game_top.png) left top no-repeat; height: 10px; }
.list_game_bottom { background: url(../images/list_game_bottom.png) left top no-repeat; height: 10px; }
.list_game_mid { height: 300px; background: url(../images/list_game_mid.png) left top repeat-y; padding: 5px 15px 0px 15px; }
.top_left { background: url(../images/top_left.png) left top no-repeat; width: 80px; height: 65px; display: block; position: absolute; left: 0px; top: 0px; }
.top_right { background: url(../images/top_right.png) left top no-repeat; width: 80px; height: 65px; display: block; position: absolute; right: 0px; top: 0px; }
.bottom_left { background: url(../images/bottom_left.png) left top no-repeat; width: 80px; height: 65px; display: block; position: absolute; left: 0px; bottom: 0px; }
.bottom_right { background: url(../images/bottom_right.png) left top no-repeat; width: 80px; height: 65px; display: block; position: absolute; right: 0px; bottom: 0px; }
.list_game_mid ul li { float: left; width: 140px; height: 134px; display: block; background: url(../images/bg_list_game.png) left top no-repeat; margin: 7px 9px; position: relative; }
.list_game_mid ul li:hover { cursor: pointer; }
.list_game_mid ul li.last { margin-right: 0px; }
.user_online { position: absolute; right: 8px; top: 2px; background: url(../images/icon_user.png) left center no-repeat; padding-left: 17px; }
.play_now { position: absolute; bottom: 0px; background: url(../images/play_now.png) left top no-repeat; width: 87px; height: 23px; display: block; text-indent: -999em; left: 27px; bottom: 5px; }

/* Content_play_game
-----------------------------------------------------------------------------------------------------------*/
.content_play_game { background-color: #fff; width: 980px; height: 690px; }

/* Box_view
-----------------------------------------------------------------------------------------------------------*/
.box_view { background-color: #fff; color: #000; margin-bottom: 10px; }
.box_view a { color: #000; }

/* Header
-----------------------------------------------------------------------------------------------------------*/
.header { background: url(../images/header.jpg) left top repeat-x; height: 174px; }

/* Logo
-----------------------------------------------------------------------------------------------------------*/
.container_header { position: relative; }
.logo { width: 212px; height: 185px; position: absolute; left: -10px; top: 0px; z-index: 9999; }
.logo h1 { background: url(../images/logo.png) left top no-repeat; display: block; width: 212px; height: 185px; }
.logo h1 a { text-indent: -999em; display: block; width: 212px; height: 185px; }

/* Right_header
-----------------------------------------------------------------------------------------------------------*/
.right_header { height: 174px; float: right; }
.login { width: 193px; float: left; padding-top: 5px; height: 174px; }
.login label { }
.login .input_text { background-color: #585857; border: 1px solid #000; width: 164px; height: 22px; padding: 0px 5px; color: #fff; }
.btn_register { background: url(../images/btn_register.jpg) left top no-repeat; width: 66px; height: 26px; text-indent: -999em; display: block; float: left; }
.btn_login { background: url(../images/btn_login.jpg) left top no-repeat; width: 102px; height: 26px; border: none; display: block; float: left; text-indent: -999em; margin-left: 8px; }
.row { margin-bottom: 5px; }
.get_password { color: #fff; font-size: 11px; text-decoration: underline; margin-right: 18px; }

/* login_acount
-----------------------------------------------------------------------------------------------------------*/
.login_acount { width: 212px; float: left; background: url(../images/dot.png) left top repeat-y; height: 174px; padding-left: 5px; }
.login_acount h2 { background: url(../images/bg_login.png) left top no-repeat; font-size: 14px; font-weight: bold; width: 207px; height: 70px; text-align: center; padding-top: 10px; }
.icon { padding: 5px 8px; display: inline-block; margin: 0px 6px; background-color: #000; } 
.icon span { width: 32px; height: 32px; display: block; text-indent: -999em; }
.icon_fb { margin-left: 20px; }
.icon_fb span { background: #000 url(../images/icon_fb.jpg) left top no-repeat; }
.icon_gg span { background: #000 url(../images/icon_gg.jpg) left top no-repeat; }
.icon_yahoo span { background: #000 url(../images/icon_yahoo.jpg) left top no-repeat; }

/* payment_card
-----------------------------------------------------------------------------------------------------------*/
.payment_card { width: 183px; float: left; padding-top: 32px; background: url(../images/dot.png) left top repeat-y; height: 174px; padding-left: 10px; }
.tutorial_card { background: url(../images/bg_btn_card.jpg) left top repeat-x; height: 36px; display: block; line-height: 36px; text-align: center; font-size: 14px; font-weight: bold; color: #fff; margin-bottom: 13px; text-shadow: 0px 1px 0px #770000; }
.tutorial_play { background: url(../images/bg_btn.jpg) left top repeat-x; height: 36px; display: block; line-height: 36px; text-align: center; font-size: 14px; font-weight: bold; color: #fff; text-shadow: 0px 1px 0px #946e05; }

/* profile_user */
.profile_user { float: left; width: 172px; background: url(../images/dot.png) left top repeat-y; height: 174px; padding-left: 13px; }
.profile_user .box_info_user { margin-top: 50px; color: #fff; margin-bottom: 25px; }
.profile_user .box_info_user .avatar { float: left; }
.profile_user .box_info_user .info span { font-weight: bold; font-size: 12px; color: #f3d64d; }
.profile_user .box_info_user .info { margin-left: 57px; line-height: 18px; }
.profile_user .box_info_user small { display: block; }
.profile_user .log_out { color: #b0b0b0; font-size: 11px; }
.profile_user .update_user { text-align: center; }
.profile_user .update_user a { background-color:#393939; color: #fea100; padding: 5px 8px; }

/* mark
-----------------------------------------------------------------------------------------------------------*/
.mark { float: left; width: 193px; }
.mark_tabs { overflow: hidden; margin-bottom: 16px; }
.mark_tabs li { float: left; }
.mark_top { background: url(../images/mark_top.png) left top no-repeat; width: 193px; height: 5px; display: block; }
.mark_mid { background: url(../images/mark_mid.png) left top repeat-y; padding-left: 5px; padding-right: 5px; }
.mark_bottom { background: url(../images/mark_bottom.jpg) left bottom no-repeat; width: 193px; height: 6px; display: block; }
.bg_number { font-family: Myriad Pro; font-size: 18px; font-weight: bold; color: #5b4400; width: 28px; height: 30px; display: block; line-height: 28px; text-align: center; float: left; }
.number_1 { background: url(../images/num_1.png) left top no-repeat; margin-top: 10px; }
.number_2 { background: url(../images/num_2.png) left top no-repeat; margin-top: 10px; }
.number { background: url(../images/num.png) left top no-repeat; margin-top: 10px; }
.img_user { float: left; margin-left: 4px; margin-right: 7px; border: 1px solid #3d3d3d; }
.mid_vip li { display: block; padding-bottom: 10px; padding-top: 9px; background: url(../images/line.png) center bottom no-repeat; }
.mid_vip h4 { float: left; font-size: 12px; font-weight: bold; color: #ff0000; }
.mid_vip h4 a { font-weight: bold; color: #ff0000; }
ul.mark_tabs li a { color:#1d1d1d; text-decoration:none; font-size:14px; font-weight:bold; }  
ul.mark_tabs li a:hover { color: #fff; }  
ul.mark_tabs li a.active { color:#fff; }
#content_2, #content_3 { display:none; }
ul.mark_tabs li a { background-color: #4a4a4a; font-family: Myriad Pro; font-size: 14px; font-weight: bold; color: #8b8b8b; text-transform: uppercase; height: 29px; border: 1px solid #373737; line-height: 29px; display: block; text-align: center; }   
ul.mark_tabs li a.active { background: url(../images/btn_tab.png) left top no-repeat; border: none; color: #fff; }
.tab_1 { width: 80px; }
.tab_2 { width: 102px; }
.content_tab ul li { display: block; padding-bottom: 10px; padding-top: 9px; background: url(../images/line.png) center bottom no-repeat; padding-left: 3px; }
.content_tab li { display: block; padding-bottom: 10px; padding-top: 9px; background: url(../images/line.png) center bottom no-repeat; }
.content_tab .info_user { float: left; }
.content_tab h4 { font-size: 12px; font-weight: bold; color: #ff0000; }
.content_tab h4 a { font-weight: bold; color: #ffe173; }
.content_tab .info_user small { color: #fff; background: url(../images/icon_mark.png) left center no-repeat; padding-left: 19px; }

/* top_mark
-----------------------------------------------------------------------------------------------------------*/
.top_mark { float: left; width: 193px; }
.top_vip { background: url(../images/top_vip.png) left top no-repeat; width: 193px; height: 5px; display: block; }
.bottom_vip { background: url(../images/bottom_vip.png) left bottom no-repeat; width: 193px; height: 7px; }
.mid_vip { background: url(../images/mid_vip.png) left top repeat-y; padding-left: 7px; padding-right: 8px; }
.title_top_vip { background: url(../images/title_top_vip.png) left top no-repeat; width: 178px; height: 46px; text-indent: -999em; display: block; }

/* box_chating
-----------------------------------------------------------------------------------------------------------*/
.box_chating { width: 593px; float: left; border: 1px solid #a6a6a6; background-color: #ccc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0px 0px 5px #d7d7d7; -moz-box-shadow: 0px 0px 5px #d7d7d7; box-shadow: 0px 0px 5px #d7d7d7; }
.chating_container { margin: 3px; background-color: #fff; }
.chat_title { position: relative; }
.main_chat { margin-left: 7px; margin-top: 8px; margin-bottom: 4px; padding-bottom: 4px; }
.chat_title h3 { position: absolute; background: url(../images/chat.png) left top no-repeat; width: 150px; height: 38px; text-indent: -999em; display: block; top: -5px; left: -5px; z-index: 9999; }

/* inval_user
-----------------------------------------------------------------------------------------------------------*/
.inval_user { margin-bottom: 10px;  }
.inval_user .area_input { width: 890px; height: 45px; background-color: #f2f2f2; color: #767676; border: 1px solid #848484; float: left; padding: 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0px 0px 5px #848484; -moz-box-shadow: 0px 0px 5px #848484; box-shadow: 0px 0px 5px #848484; }
.btn_send { background: url(../images/btn_send.jpg) left top no-repeat; width: 73px; height: 59px; display: block; text-indent: -999em; border: none; float: right; }

/* footer
-----------------------------------------------------------------------------------------------------------*/
.footer { background: url(../images/footer.jpg) left bottom repeat-x; height: 120px; text-align: center; }
.footer_container { padding-top: 40px; }
.footer p { font-family: tahoma; font-size: 12px; color: #fff; }
.footer p a { color: #0090ff; text-decoration: none; }